@import '../../../../../global.modules.scss';

.header {
    background-color: $backColor;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    >* {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    *, p{
        color: $mainTextColor;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    span {margin-left: 10px;}
    .textShow {
        font-size: 14px;
    }
    >:first-child{width: 190px;}
    label {
        transform: scale(0.75, 0.75);
        margin-right: 10px;
        color: white;
        input, span {color: white;}
    }
    .checkFirst {
        height: 30px;
        margin: 10px 0 10px 20px ;
        width: min(200px, 100%);  
        margin-right: 10px;          
        border: 1px solid #CBD3D8;
        border-radius: 2px;    
        background-color: transparent;  
        &>div {border: none;}
        *{
            color: $mainTextColor !important;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            box-shadow: none;
            background-color: transparent !important;
        }
    }
    .expand {
        width: 30px;
        height: 30px;
        background: $backColor url('media/expand.svg') center center no-repeat;
        position: absolute;
        left: 50%;
        z-index: 1;
        transition: all 0.5s ease-out;
        &:hover {
            background-color: #888e92;
        }
        @media (max-width: 800px) {display: none;}
    }
}

.cardList {
    height: calc(100vh - 80px);
    overflow-y: scroll;
    
    .card {
        align-items: flex-start;
        min-height: 160px;
        display: flex;
        color: $mainTextColor;
        overflow: hidden;
        box-shadow: 0px 1px 0px $backColor;
        img {
            object-fit: cover;
            width: 180px;
            height: 140px;
            border-radius: 2px;
            margin: 10px;   
            @media (max-width: 800px) {
                margin-left: 0;
                width: 120px;
            }            
        }
        .h {
            display: flex;
            flex-wrap: wrap;
        }
        h2 {        
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            width: calc(50vw - 240px);
            margin-bottom: 10px;
            @media (max-width: 800px) {width: 100%;}
        }
        h3 {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $shadowColor;
            display: block;
            margin-right: 12px;
            &:nth-child(2) {flex: 1 1 200px;}
        }
        >div {
            padding: 15px 0;
        }
        .inlineInfo {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0;
            p {
                margin: 0;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: $mainTextColor;
            }
            .star, .fav {
                position: relative;
                padding-left: 24px;
                font-weight: 900;
            }
            .icon {
                content: '';
                position: absolute;
                width: 14px;
                height: 14px;
                left: 5px;
                
            }
            .star {
                &:before {
                    @extend .icon;
                    top: 2px;
                    background: url('media/star.svg') center center no-repeat;
                }
            }
            .fav {
                margin-right: 24px;
                &:before {
                    @extend .icon;
                    top: 3px;
                    background: url('media/fav.svg') center center no-repeat;
                }
            }
            .feed, .gone {
                margin-right: 12px;
                flex: 0 1 auto;
            }
        }
        .description {
            opacity: 0.5;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            overflow: hidden;
            height: 40px;
            @media (max-width: 800px) {
                position: relative;
                left: -130px;
                width: min(calc(200% - 0px), calc(100vw - 30px));
            }
        }
    }
}

.pagination {
    height: 50px;
    background-color: $backColor;
    display: flex;
    align-items: center;
    justify-content: center;
    * {
        border: none !important;
        color: $grayColor;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    [class$=rs-pagination-btn-active] {
        color: $mainTextColor !important;
    }
    button {
        [class$=rs-pagination-symbol] { >svg {
            position: absolute;
            bottom: 6px;
        }}
    }  
    button:first-child { [class$=rs-pagination-symbol] {
        background: url('media/expand.svg') center center no-repeat;
        transform: rotate(180deg);
        width: 22px;
        >svg {opacity: 0;}
    }}
    button:last-child { [class$=rs-pagination-symbol] {
        background: url('media/expand.svg') center center no-repeat;
        width: 22px;
        >svg {opacity: 0;}
    }}
    button:first-child, button:last-child {
        &[class$=rs-pagination-btn-disabled] {
            opacity: 0.2;
        }
    }

    >div {
        flex: 1 1 100%;
        display: flex;
        button {
            &:first-child, &:last-child {
                flex:1;
                display: flex;
            }
            &:first-child {justify-content: flex-start;}
            &:last-child {justify-content: flex-end;}
        }
    }
}