@import '../../../../../global.modules.scss';

.map {
    width: calc(50% - 15px);
    height: 100%;
}
ymaps[class$=pie-chart-content] {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;   
    color: #212121;       
    display: flex;
    align-items: center;
    justify-content: center;
}