@import '../../../../../global.modules.scss';

.map {
    width: 50%;
    @media (max-width: 800px) {
        width: 100%;
        height: min(100vh, 400px);
        margin: 15px 0;
    }

}

ymaps[class$=pie-chart-content] {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;   
    color: $mainTextColor;       
    display: flex;
    align-items: center;
    justify-content: center;
}