@import '../../global.modules.scss';

main {
    grid-area: main;
    padding: 32px 20px 0 50px;
    h1 {
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        color: #212121;    
    }
    input {
        border: none;
        display: block;
        border-bottom: 1px solid #82949F;
        width: 100%;
        line-height: 36px;
    }
    .forward {
        height: 50px;
        width: 380px;
        border-radius: 2px;
        background: #3DABF7;
        border: none;
        margin-top: 83px;
    }
}
