@import '../../global.modules.scss';

.main {
    display: flex;
    flex-direction: column;  
    .withSidebar {
        display: grid;
        grid-template-columns: 320px 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        "aside main";
    } 
}
@media (max-width: 800px) {
    .main {
        .withSidebar {
            grid-template-columns: 100vw;
            grid-template-areas:
             "aside"
             "main";
        }
    }
}
.testNavigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    a {
        margin: 20px 0;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 380px;
        border-radius: 2px;
        background: $menuMainColor;
        border: none;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        &:hover {
            background: $hoverColor;
            cursor: pointer;
        }
        
    }
}
