@import '../../global.modules.scss';

header {
    min-height: 80px;
    max-width: 1920px;
    display: flex;
    box-shadow: 0px 1px 0px 0px rgba(223, 230, 235, 1);
    grid-area: header;
    .logo {
        width: 320px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        .image {
            width: 45px;
            height: 45px;
            margin: 0 0 0 50px;
        }
        .text {
            margin-left: 17px;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
        p {
            display: flex;
            align-items: center;
            color: rgba(61, 171, 247, 1);
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            img {
                margin-right: 14px;
            }
        }
    }  
    
    .accountInfo {
        margin-left: 62px;
        width: 285px;
        display: flex;
        align-items: center;
        ul {
            list-style: none;
            display: inline-flex;
            align-items: center;
            flex-wrap: nowrap;
            padding: 0;
            margin: 0;
            li {
                margin-right: 19px;
            }
        }
        span {
            margin: 0 10px 4px 0;
            color: rgba(33, 33, 33, 1);
            font-weight: 600;
            font-size: 17px;
            line-height: 17px;
        }
        .avatar {
            width: 30px;
            height: 30px;
            margin-right: 11px;
        }
        button {
            width: 30px;
            height: 30px;
            border: none;
            background: transparent;
        }
        .fav {
            background: url('media/ic_not_fav.svg') center center no-repeat;
        }
        .message {
            background: url('media/message_0.svg') center center no-repeat;
        }
        .arrowDown {
            background: url('media/rectangle.svg') center center no-repeat;
            width: 6px;
        }
    }
}

@media (max-width: 1279px) {
    header {
        min-height: auto;
        flex-wrap: wrap;
        padding: 0 15px;
        .menu {
            order: 1;
            flex: 1 0 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        &>div {
            min-height: 80px;
        }
        .accountInfo {
            justify-content: flex-end;
            flex: 1;
            padding-left: 0;
        }
    }
}