@import '../../../global.modules.scss';

main {
    grid-area: main;
    padding: 32px 20px 0 50px;
    h1 {
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        color: $mainTextColor;  
        margin: 0 0 39px;
        padding: 0;  
    }
    p {
        font-weight: 700;
        font-size: 12px;
        line-height: 22px;
        color: $shadowColor;
        margin: 0;
    }
    input.adress {
        margin-bottom: 22px;
        color: #40a020 !important;
        &:-webkit-autofill {
            -webkit-box-shadow:0 0 0 50px white inset;
            -webkit-text-fill-color: #40a020;
        }
    }
    input.nearCity {
        color: #a02020;
        &:-webkit-autofill, &:disabled {
            -webkit-box-shadow:0 0 0 50px white inset;
            -webkit-text-fill-color: #a02020;
        }
    }

    input {
        border: none;
        display: block;
        border-bottom: 1px solid $grayColor;
        width: min(833px, calc(100% - 30px));
        @media (max-width: 840px) {width: 100%;}
        line-height: 36px;
        &:focus-visible {outline: none;}
    }
    .forward {
        @extend .bigButton;
        width: min(380px, calc(100% - 30px));
        @media (max-width: 840px) {width: 100%;}
        margin: 83px 0 20px;

    }
}

@media (max-width: 800px) {
    main {padding: 32px 15px 0 15px;}
}



.modal {
    background-color: $backColor;
    padding: 20px;
    margin: 20px;
    border-radius: 2px;
    h3 {
        font-size: 18px;
    }
    button {
        @extend .bigButton;
        width: min(380px, 100%);
        margin: 20px 0 0;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111e0;
    display: flex;
    align-items: center;
    justify-content: center;
}